__pycache__/
*.py[cod]
*$py.class

.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/

.coverage
.coverage.*
htmlcov/
.pytest_cache/

.env
.env.*
.venv/
venv/

.vscode/
.idea/
.DS_Store
Thumbs.db
